* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

/* .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 8px 15px;
    background: #fff;
input {
    border: none;
    outline: none;
    font-size: 14px;
   }
} */


body {
background-color: #f7f7f7;
color: #222;
}

/* header {
   display: flex;
   justify-content: space-between;
   padding: 15px 40px;
   background: white;
 }

.logo {
    color: #ff385c;
    font-size: 30px;
    font-weight: bold;
 } */

 .hero {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e') center/cover no-repeat;
 }

 .hero h1 {
  background: rgba(0,0,0,0.4);
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
 }


 #listings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 45px;
    padding: 25px; 
 } 

.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  }
 }

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 }

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
 }

 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 40px;
  border-bottom: 1px solid #eee;
 }

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
 }

.nav-center {
  flex: 1;
  justify-content: center;
 }

.logo {
  font-weight: bold;
  font-size: 22px;
 }

.brand {
  color: #ff385c;
  font-size: 40px;
  font-weight: bold;
 }

.login-btn {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  background-color: #ff385c;
  color: white;                     
  cursor: pointer;
 }

.login-btn:hover {
  background-color: #e03150;
 }


.nav-right input {
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #ddd;
 }

footer {
  text-align: center;
  padding: 20px; 
  /* margin-top: 30px; */
  background: #fff;
  color: #555;
  font-size: 18px;
  border-top: 1px solid #eee; 
 }
